.addProduct{
    height:90vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.addContainer{
    display:flex;
    flex-direction: column;
    background-color:rgb(187, 191, 220);
    padding:2rem 3rem;
    border-radius:.5rem;
    text-align:center;
}
.heading{
    font-size:2rem;
    font-weight:bold;
    color:#374151;
}
input{
    font-size:1.5rem;
    padding:1rem 2rem;
    margin:1rem 0;
    background-color: #374151;
    color:#00FFEF;
    border-radius:.4rem;
}
textarea{
    font-size:1.5rem;
    padding:1rem 2rem;
    margin:1rem 0;
    background-color: #374151;
    color:#00FFEF;
    border-radius:.4rem;
}
textarea::placeholder{
    color:#009f95;
}
input:focus{
    outline:#00FFEF;
}
input::placeholder{
    color:#009f95;
}
.addBtn{
    font-size:1.5rem;
    padding:1rem 2rem;
    cursor:pointer;
    border-radius:.5rem;
    border:none;
    margin:1rem 0;
    /* background-color: #00FFEF; */
    color:#374151;
    font-weight:bold;
    box-shadow: 2px 2px 10px #374151;
}
.addBtn:hover{
    box-shadow:inset 2px 2px 10px #374151;
}