@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.nav{
    height:10vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 2rem;
    background-color:rgb(187, 191, 220);
    font-family: 'Poppins', sans-serif;
}

.cartButton{
    color:rgb(187, 191, 220);
    background-color: #374151;
    font-size:1.3rem;
    font-weight:bold;
    padding:.4rem .8rem;
    outline:none;
    cursor:pointer;
    margin:0 1rem;
    border:0px;
    border-radius:.2rem;
    transition:all .2s ease-in-out;
    position:relative;
    font-family: 'Poppins', sans-serif;
    transition: all .2s ease-in-out;
}
.cartButton:hover{
    transform:scale(1.05);
}
.left{
    display:flex;
    align-items:center;
    justify-content: center;
}
.navButton{
    color:#374151;
    background-color: transparent;
    font-size:1.3rem;
    font-weight:bold;
    padding:.4rem .8rem;
    outline:none;
    cursor:pointer;
    margin:0 1rem;
    border:0px;
    transition:all .2s ease-in-out;
    position:relative;
    font-family: 'Poppins', sans-serif;
    border-bottom:3px solid transparent;
}
.navButton:hover{
    border-bottom:3px solid black;
}

img{
    width:120px;

}